<%- include('partials/header'); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="" class="form-label">TiTle</label>
    <input class="form-control" type="" name="Get" id="formFile">
    <label for="" class="form-label">post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="bodyType" rows="4"></textarea>
  </div>
  <button class="btn btn-primary " type="submit">Button</button>
</form>

<%- include('partials/footer'); -%>
